<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="/static/kendoui/js/jquery.min.js"></script>
	<script src="/static/kendoui/js/kendo.all.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/knockout.min.js"></script>
	<script src="/static/js/ko-mapping.js"></script>
	<script src="/static/js/knockout-kendo.min.js"></script>
	<script src="/static/js/ec-common.js"></script>
	
	<link href="/static/kendoui/styles/kendo.material.min.css" type="tcss" rel="stylesheet" />
	<link href="/static/kendoui/styles/kendo.common-bootstrap.min.css" type="tcss" rel="stylesheet" />
	<link href="/static/kendoui/styles/kendo.dataviz.min.css" type="tcss" rel="stylesheet" />
	<link href="/static/kendoui/styles/kendo.dataviz.bootstrap.min.css" type="tcss" rel="stylesheet" />
	
	<link rel="stylesheet" type="tcss" href="/static/theme/neon/bootstrap-green.css">
	<link rel="stylesheet" type="tcss" href="/static/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="tcss" href="/static/theme/neon/core.css">
	<link rel="stylesheet" type="tcss" href="/static/theme/neon/theme.css">
	<link rel="stylesheet" type="tcss" href="/static/theme/neon/form.css">
	<link rel="stylesheet" type="tcss" href="/static/css/default.css">

	<script type="javascript">
		var model = {
			Processing : false
		};
	</script>
</head>
<body>


{{.Content}}

<script>
 ko.applyBindings(model);
</script>

</body>
</html>

